.ActionButton{
    width: 50px;
    height: 50px;
    background-color: var(--buttonColor);
    color: var(--text-color);
    border: 1px solid var(--secondaryColor);
    border-radius: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}
.ActionButton > img{
    height: 24px;
}

.ActionButton:hover{
    background-color: var(--accentColor);
    cursor: pointer;
}
.ActionButton:active{
    opacity: 0.7;
}

:root[data-theme='light'] .ActionButton:hover{
    color: var(--bgColor);
}
:root[data-theme='dark'] .ActionButton > img{
    filter: invert(1);
}


@media screen and (max-width: 700px) {
    .ActionButton{
        margin: 0px 4px;
    }
}